<div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Active Report</h4>
          <form class="forms-sample" method="POST" action="/home/report/active/edit/<%=report.id%>">
            <div class="form-group">
              <label for="exampleInputName1"><b>Title :</b></label>
              <input type="text" class="form-control" id="exampleInputName1" name="title" value="<%= report.title %>">
            </div>
            <div class="form-group">
                <label for="exampleInputName1"><b>Category :</b></label>
                <select class="form-control" name="category">
                    <% for(var i = 0 ; i < categoryList.length; i++){ %>
                        <option value="<%= categoryList[i].id %>" 
                            <%if(categoryList[i].id==report.category){%>
                                 selected 
                                 <%}%>
                        </option><%= categoryList[i].name %></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputName1"><b>Section :</b></label>
                <select class="form-control" name="section">
                    <option value="0"></option>
                    <option value="1" <%if(report.section==1){%>selected<%}%>>Editor's Pick</option>
                    <option value="2" <%if(report.section==2){%>selected<%}%>>Popular</option>
                    <option value="3" <%if(report.section==3){%>selected<%}%>>Main Portion</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputName1"><b>Breaking News :</b></label><br>
                <input type="radio" name="breaking" value="1" <%if(report.breaking==1){%>checked="checked"<%}%>> Yes <br>
                <input type="radio" name="breaking" value="0" <%if(report.breaking==0){%>checked="checked"<%}%>> No<br> 
                </div>
            <div class="form-group">
              <label for="exampleTextarea1"><b>Description :</b></label>
              <textarea class="form-control" id="exampleTextarea1" rows="10" name="description"><%=report.description%></textarea>
            </div>
            <button type="submit" class="btn btn-success mr-2">Submit</button>
          </form>
        </div>
      </div>