
  <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pending Reports</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Created At</th>
                  <th>Reporter</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0 ; i < reportList.length; i++){ %>
                <tr>
                  <td><%= reportList[i].title %></td>
                  <td>
                      <% for(var j = 0; j < categoryList.length; j++){ %>
                        <% if(categoryList[j].id == reportList[i].category){ %>
                        <%= categoryList[j].name %>
                      <% }} %>
                  </td>
                  <td>
                      <% var onlyDate = reportList[i].createdat.split("GMT",1); %>
                      <%= onlyDate %>
                  </td>
                  <td>
                      <% for(var j = 0; j < reporterList.length; j++){ %>
                        <% if(reporterList[j].id == reportList[i].reporter){ %>
                        <%= reporterList[j].name %>
                      <% }} %>
                  </td>
                  <% if (info == 1 ){%>
                    <td>
                        <form method="GET" action="/home/report/pending/<%=reportList[i].id%>">
                            <button type="submit" class="btn-info">Show</button>
                        </form>
                        <br>
                        <form method="GET" action="/home/report/pending/edit/<%=reportList[i].id%>">
                            <button type="submit" class="btn-success">Approve</button>
                        </form>
                        <br>
                        
                        <form method="POST" action="/home/report/pending/delete/<%=reportList[i].id%>">
                            <button type="submit" class="btn-danger">Delete</button>
                        </form>
                        <%}%>
                    </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>